/* AboutPage.css */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6AB187;
    overflow: hidden;
  }

.about-container .top-text {
    padding-bottom: 40px;
}
  
  .about-container .about-section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin-bottom: 20px;
    color: #333;
  }

  .text-column, .image-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
  }
  
  
  .text-column h2, .text-column p {
    margin: 0;
  }
  

  .text-box {
    height: 50%;
  }
  
  .about-container .text-column, .image-column {
    flex: 1;
    padding: 20px;
  }

  .image-column img {
    width: 100%;
  }
  
  .text-column h2, .text-column p {
    margin: 0;
  }

  .beige-bg {
    background-color: beige;
  }
  
  .green-bg {
    background-color: #6ab187;
  }

  .mobile {
    display: none;
  }

  @media (max-width: 820px) {
    .about-section {
      flex-direction: column;
    }
    .mobile {
        display: block;
      }
    .not-mobile {
        display: none;
    }
  }



  

  
