  /* Header.css */
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease; /* Add transition for smooth animation */
    width: 100%;
  }
  
  .header.sticky {
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure the header is above other content */
  }
  
  .link-container {
    padding-right: 150px;
    display: flex;
  }
  
  .link {
    padding-left: 150px;
    color: #fff; /* Text color of the links */
    text-decoration: none; /* Remove default underline */
  }
  
  .link:hover {
    text-decoration: underline; /* Underline links on hover */
  }


  .header .link {
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
    color: beige;
  }
  
  .header .special-link {
    color: #FFBB00; /* Color for Projects and About links */
  }
  
  .header .special-link:hover {
    color: #fff; /* Change color on hover */
  }
  
  .header .special-link::after {
    content: "";
    display: block;
    width: 0;
    height: 6px;
    background-color: #FFBB00; /* Color of the underline */
    transition: width 0.6s, background-color 0.6s ease-in-out;; /* Animation duration */
  }
  
  .header .special-link:hover::after {
    width: 100%; /* Expand underline on hover */
    background-color: #fff;
  }

  
  .icon
  {
    display: block;
    height: 16px;
    margin-right: 30px;
    width: 16px;
    image-rendering: pixelated;
    scale: 3;
    transform: translateY(3px);
  }

  .icon-box
  {
    display: flex;
    min-width: 260px;
  }


