/* LandingPage.css */
.hero-section {
    position: relative; 
    display: block;
    font-weight: 900;
    min-height: 550px;
    background-color: #17161B;
}

  
.profile-image {
    max-height: 550px;
    display: block;
    right: 0;
    position: absolute;
}
  

.location-icon {
    width: 24px; 
    height: 24px; 

  }


.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-25deg, #20948B 50%, #6AB187 0);
    opacity: 0.7; /* Adjust opacity as needed */
    z-index: 1; /* Ensure the gradient overlay is infront the image */
  }
  

.content {
    inset: 0px;
    color: white;
    padding: 6rem;
    position: absolute;
    z-index: 3;
  }


.content h1 {
    font-weight: 800;
    font-size: 6rem;
    margin: 0px;
    color: #FFBB00;
  }
  
.content p {
    font-size: 2.4rem;
    margin: 0px;
  }


  .about-section {
    padding: 40px 25%;
    text-align: left;
  }
  
  .about-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .about-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .about-section li {
    margin-bottom: 5px;
  }

  .about-section h2 {
    text-align: center;
  }


 /* LandingPage.css */
  .skills-section {
    background-color: #6AB187;
    padding: 30px 0;
  }
  
  .skills-section h2 {
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .container h2 {
    color: #FFBB00;
    text-shadow: -0.1em 0.1em 0 #20948B;
    font-size: 32px;
  }

  .skills {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
  }
  
  .column {
    width: 48%; /* Adjust width as needed */
  }
  
  .column h3 {
    margin-bottom: 20px;
  }
  
  .skills ul {
    list-style-type: none; /* Remove default bullet points */
  }
  
  .skills li {
    position: relative; /* Position each skill item relatively */
    margin-bottom: 10px;
  }
  
  .skills li::before {
    content: '\2022'; /* Add custom bullet point */
    color: #FFBB00; /* Adjust color as needed */
    font-size: 40px; /* Adjust size as needed */
    position: absolute; /* Position bullet point absolutely */
    left: -20px; /* Adjust distance from left */
    top: 50%; /* Align bullet point vertically */
    transform: translateY(-55%); /* Center bullet point vertically */
  }
  
  .skills-list {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 5px solid #FFBB00;
    box-shadow: -5px 5px 0 #20948B,-5px 5px 0 #20948B inset;
  }

  .look-around-section .container h2 {
    color: #20948B;
    text-shadow: -0.1em 0.1em 0 #6AB187;
    font-size: 32px;
  }

  .look-around-section {
    background-color: #FFBB00;
    padding: 30px 0;
    padding-bottom: 100px;
  }

  .look-around-section h2 {
    text-align: center;
  }

  .look-around-section a {
    text-decoration: none;
  }

  .look-around {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
  }


  .look-around-list {
    background-color: #6AB187;
    border: 5px solid #20948B;
    border-radius: 10px;
    box-shadow: 5px -5px 0 #20948B, 5px -5px 0 #20948B inset;
    color: white;
    padding: 35px;
    text-align: center;
    transition: box-shadow 0.5s, background-color 0.5s, border 0.5s/* Transition for box-shadow and font-size */
  }

  
  
  .look-around-list:hover {
    box-shadow: -5px 5px 0 #6AB187, -5px 5px 0 #6AB187 inset; /* Remove box-shadow on hover */
    background-color: #20948B;
    border: 5px solid #6AB187;
  }
  

  @media (max-width: 640px) {
    .skills {
      flex-direction: column;
    }

    .look-around {
        flex-direction: column;
      }
  
    .column {
      width: 100%; /* Set the width to 100% for stacking */
      margin-bottom: 20px; /* Add some margin between stacked columns */
    }
  }